[Desktop Entry]
Version=1.0
Type=Application
Name=IDS DSL Engine
Comment=Smart Network Intrusion Detection System
Exec=/home/kkc/Documents/CD_project/run_ids.sh
Icon=/home/kkc/Documents/CD_project/web_interface/icon.png
Terminal=true
Categories=Network;Security;System;
Keywords=IDS;Security;Network;Intrusion;Detection;
